@inject IJSRuntime JSRuntime
@inject IServiceProvider ServiceProvider
@typeparam T
<div id=@Id></div>

@code {
    public TreeListEditorComponent()
    {
        Id = "treeList-container-" + Guid.NewGuid().ToString();
    }
    [Parameter]
    public TreeListEditorComponentModel<T> ComponentModel { get; set; }
    public static RenderFragment Create(TreeListEditorComponentModel<T> componentModel) =>@<TreeListEditorComponent ComponentModel=@componentModel />;

    string Id { get; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("TreeListEditorComponent.Init", Id, ComponentModel.KeyFieldName, DotNetObjectReference.Create(this));
    }
    [JSInvokable]
    public Task RowClick(JsonElement key)
    {
        switch (key.ValueKind)
        {
            case JsonValueKind.String:
                if (key.TryGetGuid(out var result))
                {
                    ComponentModel.RowClick(result);
                }
                else
                {
                    ComponentModel.RowClick(key.GetString());
                }
                break;
        }
        return Task.CompletedTask;
    }
    [JSInvokable]
    public Task<JsonDocument> GetData(string parentIds)
    {
        return Task.FromResult(GetJsonData(GetObjectsByParentKeys(parentIds)));
    }
    private object GetObjectsByParentKeys(string parentIds)
    {
        var os = GetObjectSpace();
        if (!string.IsNullOrEmpty(parentIds) && parentIds.Split(',').Length > 0)
        {
            var key = os.GetObjectKey(typeof(T), parentIds);
            var parentObject = os.GetObjectByKey(typeof(T), key);
            return ((ITreeNode)parentObject).Children;
        }
        else
        {
            return os.GetObjects<T>(CriteriaOperator.Parse("[Parent] is null"));
        }
    }
    private IObjectSpace GetObjectSpace()
    {
        var appProvider = (IXafApplicationProvider)ServiceProvider.GetService(typeof(IXafApplicationProvider));
        var app = appProvider.GetApplication();
        return app.CreateObjectSpace(typeof(ITreeNode));
    }
    private JsonDocument GetJsonData(object data)
    {
        var jsonSerializerOptions = new JsonSerializerOptions();
        jsonSerializerOptions.MaxDepth = 64;
        jsonSerializerOptions.Converters.Add(new PersistentBaseConverterFactory(ServiceProvider));
        return JsonDocument.Parse(JsonSerializer.Serialize(data, jsonSerializerOptions));
    }
}
